.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

.login-header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px; 
    background-color: #4b0082;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home-link,
.signup-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    margin-right: 20px; 
    transition: color 0.3s, transform 0.3s;
}

.home-link:hover,
.signup-link:hover {
    color: #ffcc00;
    transform: scale(1.1);
}
